@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

#container {
    position: relative;
}

#mapimage{
    background-image: url("map/mapglow.png");
}

#popinfo {
    color: white;
    width: 200px;
    height: 300px;
    position: absolute;
    right: 10px;
    bottom: 200px;
}

#popclasses {
    color: white;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: red;
}

#UI{
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    left: 0;

}

.ui {
    background-color: black;
    color: white;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#topbar {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    vertical-align: top;
    display: flex;
    flex-direction: row;

}

.Topbarelement {
    height: 50px;
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
    margin-left: 15px;
}

#spacer {
    flex-grow: 1;
}

#nationflag {
    width: 50px;
    height: 50px;
    margin-left: 0;
    display: inline-block;
}

#nationinfo {
    display: inline-block;
}

#datetime {
    margin-right: 75px;
}

#nationname {
    position: absolute;
    left: 0;
    top: 50px;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
}

#rightbar {
    width: 200px;
    height: 100%;
    background-color: black;
    position: absolute;
    color: white;
    right: 0;
    padding: 30px;
}

#province_view {
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background-image: url("province_banner.png");
}

#output {
  padding: 20px;
  text-align: center;
}

#neighbourlist{
    height: 202px;
    width: 168px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 68px;
    overflow-y: scroll;
}

.neighbourbutton {
    height: 30px;
    width: 140px;
    box-size: border-box;
    border: 1px solid white;
    cursor: pointer;
}

#buildinggrid {
    height: 180px;
    width: 180px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3px;
    position:absolute;
    bottom:10px;
    left:5px;
}

#provincetitle {
    position:absolute;
    top: 16px;
    font-size: 22px;
    left: 10px;
}

#buildingtext {
    position: absolute;
    height:180px;
    width: 180px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3px;
    bottom: 10px;
    left: 200px;
}

.buildingbutton{
    height: 50px;
    width: 170px;
    box-size: border-box;
    border: 1px solid white;
    cursor: pointer;

}

#progressbar {
    height: 20px;
    width: 178px;
    position:absolute;
    bottom: 189px;
    left:5px;
}

.progressbar{

    box-size: border-box;
    background-color: gray;
    border: 1px solid white;

}

.progressbar > div {
    height: 100%;
    width: 0px;
    background-color: green;
    transition: width 1s linear;
}

#mousedraw {
    position: absolute;
    top: 0;
    left: 0;
}

#tabrow {
    position:absolute;
    width: 100%;
    bottom:300px;
    left: 0px;

}

.tabbutton {
    position: relative;
    display: inline-block;
    background-color: #333333;
    margin-right: 4px;
    height:30px;
    padding:2px;
    box-sizing: border-box;
    color: #999999;
    cursor: pointer;
}

.activetabbutton {
    background-color: black;
    color: white;
    cursor: default;

}

.valuegreen {
    color: green;
}

.valueyellow {
    color: yellow;
}

.valuered {
    color: red;
}

table {
    width: 100%;
}